
body {
    background: #BDBDBD;
    margin: 0;
}

div {
    box-sizing: border-box;
}
header {
    background: white;
    padding: 10px;
}
header h1 {
    margin: 0;
}

div.post {
    background: white;
    margin-top: 10px;
}

div.post img{
    width: 100%;
}

div.post .post-header div:first-child{
    display: inline-block;
    width: 80%;
}

div.post .post-header div:last-child{
    display: inline-block;
    width: 20%;
    padding: 10px;
    text-align: right;
    color: gray;
}

div.post h2, div.post p {
    padding: 10px;
    margin: 0;
}

div.container {
    width: 600px;
    margin: auto;
}


.imageninstagram {
    color: grey;
    margin-right: 10px;
}

.navbar-brand {
    margin-right: auto;
}

.form-inline {
    margin: auto;
}

.card-group {
    /* margin: auto; */
    display: block;
    margin: 10px 10px 10px 10px;
    
}

form.form-inline.my-2.my-lg-0{
    margin-right: 20px;
}